---
import MainLayout from '../layouts/MainLayout.astro';
import { legal, general, contracts, sources, users } from '../data/lists';

const sections = [
  { label: 'legal',     items: legal,     color: 'text-input'    },
  { label: 'general',   items: general,   color: 'text-computer' },
	{ label: 'users', 		items: users,			color: 'text-user' 		 },
  { label: 'contracts', items: contracts, color: 'text-contract' },
  { label: 'sources',   items: sources,   color: 'text-source'   },
];
---

<MainLayout>
  <div class="p-2 overflow-auto flex flex-col">
    <div class="flex gap-2 items-center text-input">
      <p>DOCS</p>
      <a href="https://19188103.com" class="underline">19-18-8-103</a>
    </div>

    {sections.map(({ label, items, color }) => (
      <div class="mt-4">
        <span class={`mb-1 ${color}`}>⎯⎯ {label} ⎯⎯</span>
        {items.map((item) => (
          <a href={item.path} class={`block hover:underline pl-2 ${color}`}>
            • {item.title}
          </a>
        ))}
      </div>
    ))}
  </div>
</MainLayout>